 <div class="dialog-content">
    <form>
	<div class="row column">
		{{#each defenders as |defender|}}
			<img src="{{defender.img}}" class="entity-selectable" title="{{defender.name}}" width="40" height="40"/>
		{{/each}}
	</div>
	
      <div class="form-group">
		<div class="grid grid-2col">
        <div class="row"><div class="column"><div class="dice-target-block"  style="font-size:1em" title="Dicepool"></div></div>Dicepool Mod: </div>
					
		
		<input type="text" name="dicepoolMod"></div>
      </div>
<div class="form-group">
<input type="checkbox" id="wounds" name="chk-wounds" checked><label for="wounds">Wounds?</label>
<input type="checkbox" id="explode" name="chk-explode"><label for="explode">Explode?</label>
<input type="checkbox" id="total_defense" name="chk-total_defense"><label for="total_defense">Total Defense?</label>
</div>

	</div>