 <div class="dialog-content">
    <form>
      <div class="form-group">
		<div class="grid grid-2col"><div class="row">DV</div>
					<input type="text" name="dvMod">
					
					<div class="row">Title</div>
					<input type="text" name="displayname">
					
		
		</div></div>
		<div class="form-group">
		<input type="radio" name="soak" value="armor" /><label for ="soak">Armor</label>
		<input type="radio" name="soak" value="physical" /><label for ="soak">Physical</label>
		<input type="radio" name="soak" value="mental" /><label for ="soak">Mental</label>
      </div>

